<div id="share-buttons">
    <a href="http://www.reddit.com/submit?url=http:/&amp;title={{ .Title }}"><img src="/assets/img/share/reddit.png"></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}&amp;summary=&amp;source="><img src="/assets/img/share/linkedin.png"></a>
    <a href="https://twitter.com/intent/tweet?text={{ .Permalink }}"><img src="/assets/img/share/twitter.png"></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><img src="/assets/img/share/facebook.png"></a>
</div>
