pre {
    border-radius: 3px;
    border-left: 5px solid #FF8400;
    padding: 1.0rem;
    line-height: 2.1rem;
}
code {
    font-size: 1.3rem;
}
p {
    /*text-align: justify;*/
}
img {
    border-radius: 3px;
    border: 0px solid #FFF;
    padding: 0px;
}
.content .container h1.cve {
    font-size: 4.2rem;
}
section.cves ul li a {
    display: inline-block;
    margin-right: 20px;
    /* text-align: right; */
    width: 145px;
}
section.cves ul li .cve {
    color: #212121;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}
section.cves ul li .cve:hover, section.cves ul li .cve:focus {
    color: #1EC8BB;
}
section.cves ul li .title, section.cves ul li .title:hover, section.cves ul li .title:focus {
    color: #212121;
    font-size: 1.6rem;
    font-family: Merriweather,Georgia,serif;
    font-weight: 300;
}
.about h2 a {
    color: #000;
}
.about h2 a:hover {
    color: #1EC8BB;
}

.post {
    position: relative;
}
#sharer {
    border: 0px solid #ff0000;
    position: absolute;
    top: 0px;
    left: -100px;
    height: 100%;
}
#sharer .sharer-buttons {
    border: 0px solid #0000ff;
    position: fixed;
    top: 200px;
}
#sharer a {
    display: block;
    margin-bottom: 10px;
}
